# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/
coverage/

# Expo / React Native
.expo/
.expo-shared/
.expo-source/
web-build/
.expo-env.local

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Env / keys
.env
.env.*
!.env.example

# typescript
*.tsbuildinfo

# iOS / Android (si trabajas con Expo Managed lo normal es ignorarlos)
ios/
android/

# OS / IDEs
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp


# Misc
*.trace
*.map